/* RobOS.css */

body {
  background: #48c9fc url(distrib/images/link.jpg) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:rgb(255, 255, 255);
  border: 2px solid rgb(26, 165, 26);
  cursor: default;
}

.start_button {
  width: 100px;
  color: white;
  background-color: rgb(26, 194, 26);
}

.halt_button {
  width: 100px;
  color: white;
  background-color: red;
}

.reset_button {
  width: 100px;
  color: white;
  background-color: rgb(42, 215, 228);
}
.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
  text-shadow: 2px 2px black;
}

label{
  color: white;
  text-shadow: 2px 2px black;
}

textarea{
  background: transparent;
}

label{
  color: black;
}

p {
  color: black;
}

span{
  color: black;
}

div{
  color: black;
}