/* RobOS.css */

body {
  background: #48c9fc url(distrib/images/link.jpg) repeat fixed;
  color: black;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  /*color: black;*/
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}
h2 {
  /*color: black;*/
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}
h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

/*p, span, div{
  color: black;
}*/
label {
  /*color: black;*/
  font-weight: bold;
} 
textarea {
  background: transparent;
}

table, tr, th, td {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
}

#display {
  background-color:white;
  border: 2px solid black;
  cursor: default;
}

#divDisk2, #taHostLog, #taProgramInput {
  border: 1px solid black;
  /*background-color: white;*/
}

#tbMemory, #tbCPU, #tbProcesses {
  background-color: transparent;
}

#divMemory2, #divDisk2 {
  border-style: outset;
}

.start_button {
  width: 100px;
  color: white;
  background-color: rgb(26, 194, 26);
}
.halt_button {
  width: 100px;
  color: white;
  background-color: red;
}
.reset_button {
  width: 100px;
  color: white;
  background-color: rgb(42, 215, 228);
}
.singleStepOn_button, .singleStepOff_button, .nextStep_button {
  width: 100px;
  color: white;
  background-color: rgb(220,198,26);
}
.darkMode_button {
  color: white;
  background: black;
}
.darkMode {
  background: black url(distrib/images/darthVader2.jpg)  no-repeat fixed;
  background-size: 100%;
  background-color:#1b1b1b;
  color: white;
}
input[type="button"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.footerText {
  /*color: black;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
